/* styles/App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-input {
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  /* width: 100%; */
}

.login-button {
  background-color: #f78fb3;
  color: #ffffff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #f15b86;
}

.message p {
  font-size: 18px;
  color: #555555;
  line-height: 1.6;
  white-space: pre-line;
}
